@import 'fonts.scss';

$mainDarkColor: #36332f;
$breakpoints: 1050px;

* {
	color: $mainDarkColor;
	font-size: 16px;
	font-family: 'Montserrat';
	max-width: 100%;
}

button {
	height: min-content;
	width: max-content;
	line-height: normal;

	padding: 8px 9px;

	background: #00000000;
	border: 1px solid $mainDarkColor;
	border-radius: 9px;
	text-wrap: nowrap;
	transition: all 0.3s ease;
}

[class*='container'] {
	@each $breakpoint in $breakpoints {
		@media (min-width: #{$breakpoint}) {
			width: #{$breakpoint};
		}
	}
	margin: 0 auto;
}
