.text_title {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.3em;
}

.text_subtitle {
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	// background-color: rgba(255, 255, 255, 50%);
}

.text_small {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 22px;
}

.text_content {
	font-size: 24px;
	font-weight: 300;
	margin: 0;
	margin-bottom: 22px;
}

.text_title {
	margin: 0;
	margin-bottom: 20px;
}
