@import '/src/styles/common.scss';

.navbar {
	height: 100px;
	width: 100vw;
	position: fixed;

	background: #00000000;
	z-index: 999;
}

.navbar_nav__container {
	display: flex;
	flex-direction: row;

	margin: 0 auto;
	padding: 0 10px;

	height: 100%;
	width: auto !important;
}

.navbar_logo {
	height: 100%;
	aspect-ratio: 1;

	background: url(/svg/logo.svg) no-repeat center;
	background-size: contain;
}

.navbar_menu {
	height: inherit;
	width: 100%;

	& > .navbar_menuList {
		margin: 0;
		padding: 0;
		height: inherit;
		list-style: none;

		display: flex;
		flex-direction: row;
		gap: 20px;
		justify-content: center;

		& > .navbar_menuListItem {
			height: inherit;
			display: flex;
			align-items: center;

			& > .navbar_menuLink {
				color: $mainDarkColor;
				text-decoration: none;
			}

			& > .navbar_menuLink:after {
				display: block;
				content: '';
				position: relative;
				width: 100%;
				transform: scaleX(0);
				height: 2px;
				background-color: $mainDarkColor;
				transform-origin: bottom right;
				transition: transform 0.3s;
			}

			& > .navbar_menuLink:hover:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}

	@media (max-width: 768px) {
		display: none;
	}
}

.navbar_login {
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	padding: 6px 8px;

	@media (max-width: 768px) {
		display: none;
	}
}
